html {
    height: 100%;
    width: 100%;

}
@font-face {
    font-family: regular;
    src: url(font/NHaasGroteskDSStd-45Lt.otf);
}
@font-face {
    font-family: light;
    src: url(font/NHaasGroteskDSStd-25Th.otf);
}
body {
    height: auto;
font-family: 'ZCOOL XiaoWei', serif;
    font-size: 18px;
    height: 100%;
    color: black;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
#topbar {
    height: 98%;
    width: 55px;
    color: red;   

    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-right: 0;
}  
a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}
#link1 {
    width: 50%;
    height: 20%;
    margin-bottom: 30%;
    text-align: left;
    padding-top: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: 20%;
    margin-top: 30%;
    color: red;
}


#main {
    display: flex;
    margin-top: 7%;
    width: 45%;
    height: 90vh;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    background-color: red;
    color: white;
    padding: 2%;
    margin-bottom: 2%;
     -webkit-box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.89);
-moz-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
}


#contacto {
    text-decoration: underline;
    margin-right: 3%;
    font-size:  1.1vw;
            color: white;

}



#pass {
    width: 15%;
    -webkit-box-shadow: 0px 0px 28px 17px rgba(255,255,255,0.89);
-moz-box-shadow: 0px 0px 20px 12px rgba(255,255,255,0.89);
box-shadow: 0px 0px 20px 12px rgba(255,255,255,0.89);
}
#pass2{
    margin-left: 15%;
    margin-top: 20%;
    width: 80%;
    -webkit-box-shadow: 0px 0px 28px 17px rgba(255,255,255,0.89);
-moz-box-shadow: 0px 0px 20px 12px rgba(255,255,255,0.89);
box-shadow: 0px 0px 20px 12px rgba(255,255,255,0.89);
}


sup{
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    opacity: 0.7;
    font-family: 'ZCOOL XiaoWei', serif;

}
#creditos {
    font-size: 1.2vw;
        color: white;
}




@media screen and (max-width: 900px) {
    


#topbar {
    height: 55px;
    width: 100%;
    color: red;
    font-size: 7vw;
    background-color: whitesmoke;
    margin: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    writing-mode: horizontal-tb;
} 
   
 


#link1 {
    width: 50%;
    height: auto;
    margin-bottom: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: auto;
    margin-top: 0;
    color: red;
        padding-top: 5px;
    padding-right: 5px;
}


   
a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}


  
#main {
    display: flex;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 25%;
        box-shadow: none;
        background-color: whitesmoke;
    color: red;
}





#pass {
    width: 20vw;
    height: 27vw;
    margin-left: auto;
    margin-right: 5%;
    -webkit-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
    margin-bottom: 20%;
}
#pass2{
    margin-left: 40%;
    margin-top: 20%;
    width: 50%;
    -webkit-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
        margin-bottom: 20%;
}



    #contacto {
        margin-top: 10%;
        text-decoration: underline;
    margin-right: 3%;
        font-size: 4.5vw;
    color: red;
        width: 100%;
    }

    #colunaextra {
        width: 100%;
    }
sup{
    font-size: 5vw;
    text-transform: uppercase;
    opacity: 1;
    color: red;
}
#creditos {
    font-size: 15px;
}   
    #footer {
    display: none;

}

}