html {
    height: 100%;
    width: 100%;

}
@font-face {
    font-family: regular;
    src: url(font/NHaasGroteskDSStd-45Lt.otf);
}
@font-face {
    font-family: light;
    src: url(font/NHaasGroteskDSStd-25Th.otf);
}
body {
    height: auto;
font-family: 'ZCOOL XiaoWei', serif;
    font-size: 18px;
    height: 100%;
    color: black;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
#topbar {
    height: 98%;
    width: 55px;
    color: red;   

    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-right: 0;
}  
a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}
#link1 {
    width: 50%;
    height: 20%;
    margin-bottom: 30%;
    text-align: left;
    padding-top: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: 20%;
    margin-top: 30%;
    color: red;
}


#main {
    display: flex;
    margin-top: 7%;
    width: 90%;
    height: 90vh;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-bottom: 2%;
}

#colunaesq {
    width: 15%;
    z-index: 0;
    display: flex;
    flex-direction: column;  
    margin-top: 0;
    height: auto;

}
#contacto {
    text-decoration: underline;
    margin-right: 3%;
    font-size:  1.2vw;
}

#colunaextra {
        width: 40%;
}


#pass {
    width: 100%;
    -webkit-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
}
#pass2{
    margin-left: 40%;
    margin-top: 20%;
    width: 50%;
    -webkit-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
}

#colunadir {
    font-size: 1.2vw;
    padding-top: 0;
    padding-right: 5%;
    padding-left: 5%;
    width: 40%;
    height: auto;
    z-index: 0;
    color: red;
    margin-top: 0; 
    margin-left: 5%;
    font-family: regular;

}
sup{
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    opacity: 0.5;
    font-family: 'ZCOOL XiaoWei', serif;

}
#creditos {
    font-size: 1.2vw;
}




@media screen and (max-width: 900px) {
    


#topbar {
    height: 55px;
    width: 100%;
    color: red;
    font-size: 7vw;
    background-color: whitesmoke;
    margin: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    writing-mode: horizontal-tb;
} 
   
 


#link1 {
    width: 50%;
    height: auto;
    margin-bottom: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: auto;
    margin-top: 0;
    color: red;
        padding-top: 5px;
    padding-right: 5px;
}


   
a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}


  
#main {
    display: flex;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 25%;
        box-shadow: none;
}

#colunaesq {
    width: 30%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 0;

}



#pass {
    width: 20vw;
    height: 27vw;
    margin-left: auto;
    margin-right: 5%;
    -webkit-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
    margin-bottom: 20%;
}
#pass2{
    margin-left: 40%;
    margin-top: 20%;
    width: 50%;
    -webkit-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
        margin-bottom: 20%;
}


#colunadir {
    font-size: 4.5vw;
    padding-top: 0;
    padding-right: 10%;
    width: 95%;
    height: auto;
    z-index: 0;
    color: red;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
    #contacto {
        margin-top: 10%;
        text-decoration: underline;
    margin-right: 3%;
        font-size: 4.5vw;
    color: red;
        width: 100%;
    }

    #colunaextra {
        width: 100%;
    }
sup{
    font-size: 3vw;
    text-transform: uppercase;
    opacity: 0.5;
}
#creditos {
    font-size: 15px;
}   
    #footer {
    display: none;

}

}