html {
    height: 100%;
    width: 100%;

}
body {
    height: auto;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    height: 100%;
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#topbar {
    height: 35px;
    width: 100%;
    color: black;
    font-size: 20px;
    background-color: white;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 9px 10px #FFFFFF; 
    box-shadow: 0px 0px 9px 10px #FFFFFF;
    position: fixed;
    z-index: 2;
}
    
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    filter: blur(4px);
}
#link1 {
    width: 50%;
    padding-left: 2%;
    filter: blur(2px);
    text-align: left;
    padding-top: 5px;
}

#link2 {
    text-align: right;
    width: 50%;
    height: 100%;
    padding-right: 2%;
    padding-top: 5px;
}



    #primeiro {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
    }
    
    #primeiroesq {
        background-image: url(img/cast3.jpg);
        background-position: center;
        background-size: cover;
        height: 45vw;
        width: 50%;
    }
    #primeirodir {
        background-image: url(img/cast4.jpg);
            background-position: center;
        background-size: cover;
        height: 45vw;
        width: 50%;
    }

#main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-top: 7%;
    margin-bottom: 5%;
}


#contentor {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    pointer-events: all;
    overflow-y: hidden;

}

#contentor2 {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    
}

#spread2 {

     position: relative;
    width: auto;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;

}
#spread {
    position: relative;
    width: auto;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;
}

#nav_button {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button:hover {
    filter: blur(4px);

}

#nav_button2 {
    height: 100px;
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button2:hover {
    filter: blur(4px);

}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}


#colunaesq {
       width: 72%;
    z-index: 0;
    display: flex;
    flex-direction: row;    
}

#botaofull {
    width: auto;
    z-index: 1;
    margin-left: -4%;
    margin-right: 4%;
    height: 7%;
    cursor: pointer;
}
#botaofull:hover {
    filter: blur(4px);}

#botaofull2 {
    width: auto;
    z-index: 1;
    margin-left: -4%;
    margin-right: 4%;
    margin-top: 5%;
    height: 5%;
    cursor: pointer;
}
#botaofull2:hover {
    filter: blur(4px);}


#colunadir {
    margin-right: 7%;
    font-size: 15px;
    font-weight: 400; 
    padding-top: 0;
    width: 20%;
    height: auto;
    z-index: 0;
    margin-left: 0;
    color: white;
}
sup{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.5;
}
#creditos {
    font-size: 12px;
}


@media screen and (max-width: 900px) {
    
    
       
#topbar {
    height: 50px;
    width: 100%;
    color: black;
    font-size: 20px;
    background-color: white;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 9px 10px #FFFFFF; 
    box-shadow: 0px 0px 9px 10px #FFFFFF;
}
 
    #link1 {
    width: 50%;
    padding-left: 5%;
    filter: blur(2px);
    text-align: left;
    padding-top: 10px;

}

#link2 {
    text-align: right;
    width: 50%;
    height: 100%;
    padding-right: 5%;
    padding-top: 10px;
}

#main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 0;
}

    #primeiro {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    #primeiroesq {
        background-image: url(img/cast3.jpg);
        background-position: bottom;
        background-size: cover;
        height: 400px;
        width: 100%;
    }
    #primeirodir {
       display: none;
    }



a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    filter: none;
}

#contentor {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    pointer-events: all;
    overflow-y: hidden;
    margin-bottom: 0;

}

#contentor2 {
    display: none;
    

}

#spread2 {
display: none;
}
#spread {
    position: relative;
    width: auto;
    height: 45vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;
}

#nav_button {
    height: 50px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;

}

#nav_button:hover {
    filter: none;

}



.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}


#colunaesq {
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;    
}

#botaofull {
    display: none;
}
#botaofull:hover {
    filter: blur(4px);}



#colunadir {
    margin-right: auto;
    margin-left: auto;
    font-size: 4vw;
    font-weight: 400; 
    padding-top: 0;
    width: 80%;
    height: auto;
    z-index: 0;
    color: white;
    margin-top: 0;
    margin-bottom: 10%;
}
sup{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.5;
}
#creditos {
    font-size: 12px;
}   
    
}