html {
    height: 100%;
    width: 100%;

}
body {
    height: auto;
    font-family: 'arial';
    font-size: 16px;
    color: blue;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: white;

}
@font-face {
    font-family: arial;
    src: url(fonts/arial.ttf);
}



#leftbar{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-size: 0.9vw;
    height: 60%;
    display: flex;
    flex-direction: column;
}

#home {
    color: blue;
    text-decoration: underline;
}
#home:active {
    color: blue;
}

#home:hover {
    filter: blur(8px);
}



#titulo {
    font-size: 1.2vw;
    font-family: new-spirit, serif;
font-weight: 300;
}
#subtitulo {
    font-family: new-spirit, serif;
font-weight: 300;
    
}

#img1 {
    width: 60%;
    margin-top: auto;
    display: block;
}
#descricao {
    font-family: 'arial';
    font-size: 0.9vw;
    width: 80%;
    color: black;
    
}

#collab{

    color: blue;
}


#contact {


}
#contact:active {
    color: blue;
}
#descricao2 {
    display: none;
}
#contact2 {
    display: none;
}


a {
    text-decoration: none;
    color: blue;
}
a:hover {
    filter: blur(8px);
    color: blue;
}
a:active {
    text-decoration: none;
      color: blue;
}


#main {
    display: flex;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

#hero {
    width: 100%;
    height: 50vw;
    background-image: url(img/cast1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#descricao2 {
    display: none;
}
#contentor {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    pointer-events: all;
    overflow-y: hidden;
    background-color: black;
    

}

#contentor2 {
    visibility: hidden;
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    
}

#spread2 {

     position: relative;
    width: auto;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;

}

#spread {
    position: relative;
    width: auto;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;
}

#nav_button {
    height: 50px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button:hover {
    filter: blur(4px);

}

#nav_button2 {
    height: 100px;
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button2:hover {
    filter: blur(4px);

}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}




#botaofull {
    width: auto;
    z-index: 1;
    margin-left: -4%;
    margin-right: 4%;
    height: 7%;
    cursor: pointer;
}
#botaofull:hover {
    filter: blur(4px);}
#botaofull2 {
    width: auto;
    z-index: 1;
    margin-left: -4%;
    margin-right: 4%;
    margin-top: 5%;
    height: 5%;
    cursor: pointer;
}
#botaofull2:hover {
    filter: blur(4px);}

#proom {
    width: auto;
    display: flex;
    flex-direction: column;
}
#linha {
    height: 35vw;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#img2 {
    margin-top: 1%;
    margin-right: 1%;
    width: 49%;
    background-image: url(img/cast4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img3 {
    margin-top: 1%;
    margin-left: 1%;
    width: 49%;
    background-image: url(img/Cast/7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#cd {
    width: 60%;
    height: 10vw;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

#imp {
    font-family: 'Berthold';
    font-size: 0.95vw;
    text-align: center;
}

#imp2 {
    font-family: 'Berthold';
    font-size: 0.95vw;
    text-align: center;
}

#video1 {
    display: flex;
    width: 75%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    height: 35vw;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    
    
body {
    font-size: 14px;
    display: flex;
    flex-direction: column;


}
    #leftbar{
    width: 90%;

    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 3%;
    margin-right: 7%;
        height: 20%;
        position: absolute;


}
    
    #leftbar2 {
    width: 90%;

    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
#home {
    display: none;
}

#titulo {

    font-size: 16px;

}
#subtitulo {
font-size: 14px;

    
}
    #collab {
        font-size: 14px;
    }
  
#img1 {
    display: none;
}
#descricao2 {
    display: block;
    font-family: 'arial';
    width: 100%;
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
    
}
    #descricao {
        display:none;
    }
    #contact {
        display: none;
    }
    #contact2 {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 4vw;
        
    }

 #main {
     height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
     margin-top: 45%;
}


    #hero {
        height: 60vw;
    }

#nav_button{
    height: 10vw;

    
}
        #contentor2 {
        display: none;
    }
    
    #botaofull {
        display: none;
    }
 #cd {
  display: none;
}


#imp {
    display: none;
}

    #imp2 {
        display: none;
    }
#video1 {
    display: flex;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    height: 30vw;
    flex-direction: column;
}}
