html {
    height: 100%;
    width: 100%;

}
body {
    height: auto;
font-family: 'ZCOOL XiaoWei', serif;
    font-size: 18px;
    height: 100%;
    color: black;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
@font-face {
    font-family: regular;
    src: url(font/NHaasGroteskDSStd-45Lt.otf);
}
@font-face {
    font-family: light;
    src: url(font/NHaasGroteskDSStd-25Th.otf);
}
#topbar {
    height: 98%;
    width: 55px;
    color: red;   

    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-right: 0;
}  
a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}
#link1 {
    width: 50%;
    height: 20%;
    margin-bottom: 30%;
    text-align: left;
    padding-top: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: 20%;
    margin-top: 30%;
    color: red;
}


#main {
    display: flex;
    width: 90%;
    height: 93%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 5%;
    
}
#colunaesq {
    width: 65%;
    margin-left: 5%;

}

#colunadir {
    width: 12vw;
    display: flex;
    flex-direction: column;
    height: 12vw;
    background-color: whitesmoke;
    z-index: -1;
-webkit-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
    right: 0;
    float: right;

}




#lista {

    height: 70%;
    font-size: 3.7vw;
    text-align: left;
    line-height: 4.2vw;
    margin-left: 0%;
    margin-right: 0%;
    text-transform: uppercase;
    font-family: light;

}
sup{
    font-size: 0.9vw;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;




}

#footer {
    text-align: left;
    width: 90%;

    font-size: 1vw;
    text-transform: uppercase;
    color: red;
    margin-left: 15px;
    height: 6%;

}



#backgroundimg1 , #backgroundimg2, #backgroundimg3, #backgroundimg4, #backgroundimg5, #backgroundimg6, #backgroundimg7, #backgroundimg8, #backgroundimg9, #backgroundimg10{
  right: 0;
  bottom: 0;
  width: 100%;
    height: auto;
  z-index: 0;
 display: none;
    
}


@media screen and (max-width: 900px) {

#topbar {
    height: 55px;
    width: 100%;
    color: red;
    font-size: 7vw;
    background-color: whitesmoke;
    margin: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    writing-mode: horizontal-tb;
} 
   
 


#link1 {
    width: 50%;
    height: auto;
    margin-bottom: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: auto;
    margin-top: 0;
    color: red;
        padding-top: 5px;
    padding-right: 5px;
}


   
a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    flex-direction: column;
}
#colunaesq {
    margin-top: 15%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

#colunadir {
    height: 15%;
    width: 100px;
    display: block;
    background-image: url(reel.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    -webkit-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);

}




#lista {

    height: 100%;
    font-size: 6.5vw;
    text-align: left;
    line-height: 9vw;
    margin-left: 5%;
    margin-right: 0%;
    text-transform: uppercase;
    font-family: light;

}
sup{
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;

}

#footer {
    display: none;
    
}

#backgroundimg1 , #backgroundimg2, #backgroundimg3, #backgroundimg4, #backgroundimg5, #backgroundimg6, #backgroundimg7, #backgroundimg8, #backgroundimg9, #backgroundimg10{
  visibility: collapse;
    
}
}
