html {
    height: 100%;
    width: 100%;

}
body {
    height: auto;
    font-family: 'arial';
    font-size: 16px;
    height: 100%;
    color: blue;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: white;

}
@font-face {
    font-family: arial;
    src: url(fonts/arial.ttf);
}
@font-face {
    font-family: text;
    src: url(fonts/Minipax-Regular.ttf);
}



#leftbar{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-size: 0.9vw;
    height: 60%;
    display: flex;
    flex-direction: column;
}

#home {
    color: blue;
    text-decoration: underline;
}
#home:active {
    color: blue;
}

#home:hover {
    filter: blur(8px);
}



#titulo {
    font-size: 1.6vw;
}
#subtitulo {
    font-family: 'text';
    
}

#img1 {
    width: 60%;
    margin-top: auto;
    display: block;
}
#descricao {
    font-family: 'arial';
    font-size: 0.9vw;
    width: 80%;
    color: black;
    
}
#descricao2 {
    display: none;
    color: black;
}

#contact {
    font-family: 'arial';
}
#contact:active {
    color: blue;
}
#main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    filter: blur(8px);
    color: blue;
}
a:active {
    text-decoration: none;
      color: blue;
}

#lista {
    font-family: 'text';
    font-size: 1.2vw;
    text-align: left;
    line-height: 1.4vw;
}
#des {
    font-family: 'arial';
    font-size: 1vw;
}
#backgroundimg1, #backgroundimg2, #backgroundimg3, #backgroundimg4, #backgroundimg5, #backgroundimg6, #backgroundimg7, #backgroundimg8, #backgroundimg9, #backgroundimg10, #backgroundimg12 {
    display: none;
    margin-left: 65%;
    margin-top: 5%;
    z-index: 50;
    position: absolute;
    width: 22%;
}

#contact2{
    display: none;

}
#leftbar2 {
    display: none;
}

@media screen and (max-width: 900px) {
    
body {
    font-size: 14px;
    display: flex;
    flex-direction: column;


}
    #leftbar{
    width: 90%;

    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 3%;
    margin-right: 7%;
        height: 20%;
        position: absolute;


}
    
    #leftbar2 {
    width: 90%;

    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
#home {
    display: none;
}

#titulo {

    font-size: 16px;

}
#subtitulo {
font-size: 14px;

    
}
    #home2 {
        display: none;
    }
    #home3 {
        display: none;
    }

#img1 {
    margin-bottom: auto;
    width: 40%;
    margin-top: auto;
    display: block;
            margin-left: auto;
        margin-right: auto;
}
#descricao2 {
    display: block;
    font-family: 'Berthold';
    width: 100%;
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20%;
    
}
    #descricao {
        display:none;
    }
    #contact {
        display: none;
    }
    #contact2 {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 4vw;
        
    }

 #main {
     height: auto;
     margin-top: auto;
     width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
     z-index: 0;
     margin-top: 20%;
}

#lista {
    margin-top: 20%;
    font-size: 20px;
    text-align: center;
    line-height: 5vw;
}
#des {
    font-family: 'arial';
    font-size: 18px;

}
    #backgroundimg1, #backgroundimg2, #backgroundimg3, #backgroundimg4, #backgroundimg5, #backgroundimg6, #backgroundimg7, #backgroundimg8, #backgroundimg9, #backgroundimg10, #backgroundimg12 {
    display: none;
    visibility: hidden;
}
}