html {
    height: 100%;
    width: 100%;

}
body {
    height: auto;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 18px;
    height: 100%;
    color: red;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

#topbar {
    height: 98%;
    width: 55px;
    color: red;   

    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-right: 0;
} 
#tituloexpo {
    font-size: 30px;
text-transform: uppercase;}

a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}
#link1 {
    width: 50%;
    height: 20%;
    margin-bottom: 30%;
    text-align: left;
    padding-top: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: 20%;
    margin-top: 30%;
    color: red;
}


    #primeiro {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
    }
    
    #primeiroesq {
        background-image: url(img/extropy3.jpg);
        background-position: center;
        background-size: cover;
        height: 45vw;
        width: 50%;
    }
    #primeirodir {
        background-image: url(img/extropy4.jpg);
            background-position: center;
        background-size: cover;
        height: 45vw;
        width: 50%;
    }

#main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-top: 7%;
    margin-bottom: 5%;
}




#contentor {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    pointer-events: all;
    overflow-y: hidden;

}


#contentor2 {
    visibility: hidden;
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    
}

#spread2 {

     position: relative;
    width: auto;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: auto;

}
#spread {
    position: relative;
    width: auto;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

#nav_button {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button:hover {
    filter: blur(4px);

}

#nav_button2 {
    height: 100px;
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button2:hover {
    filter: blur(4px);

}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}


#colunaesq {
       width: 70%;
        height: 37vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    display: flex;
    flex-direction: column; 
    background-color: black;
}

#botaofull {
    width: auto;
    z-index: 1;
    margin-left: -4%;
    margin-right: 4%;
    height: 7%;
    cursor: pointer;
}
#botaofull:hover {
    filter: blur(4px);}

#botaofull2 {
    width: auto;
    z-index: 1;
    margin-left: -4%;
    margin-right: 4%;
    margin-top: 5%;
    height: 5%;
    cursor: pointer;
}
#botaofull2:hover {
    filter: blur(4px);}


#colunadir {
    margin-right: 7%;
    font-size: 20px; 
    padding-top: 0;
    width: 20%;
    height: auto;
    z-index: 0;
    margin-left: 0;
    color: black;
}
sup{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.5;
}
#creditos {
    font-size: 15px;
}


@media screen and (max-width: 900px) {
    

#topbar {
    height: 55px;
    width: 100%;
    color: red;
    font-size: 7vw;
    background-color: whitesmoke;
    margin: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    writing-mode: horizontal-tb;
} 
   


#link1 {
    width: 50%;
    height: auto;
    margin-bottom: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: auto;
    margin-top: 0;
    color: red;
        padding-top: 5px;
    padding-right: 5px;
}


#main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 0;
}

    #primeiro {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    #primeiroesq {
        background-image: url(img/extropy3.jpg);
        background-position: bottom;
        background-size: cover;
        height: 400px;
        width: 100%;
    }
    #primeirodir {
       display: none;
    }



a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    filter: none;
}

#contentor {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    pointer-events: all;
    overflow-y: hidden;
    margin-bottom: 0;

}

#contentor3 {
    display: none;
    

}
#contentor2 {
    display: none;
    

}

#spread2 {
display: none;
}
#spread {
    position: relative;
    width: auto;
    height: 45vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;
}

#nav_button {
    height: 50px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;

}

#nav_button:hover {
    filter: none;

}



.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}


#colunaesq {
    width: 100%;
    height: auto;
    z-index: 0;
    display: flex;
    flex-direction: row;    
}

#botaofull {
    display: none;
}
#botaofull:hover {
    filter: blur(4px);}



#colunadir {
    margin-right: auto;
    margin-left: auto;
    font-size: 4vw;
    font-weight: 400; 
    padding-top: 0;
    width: 80%;
    height: auto;
    z-index: 0;
    color: black;
    margin-top: 0;
    margin-bottom: 10%;
}
sup{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.5;
}
#creditos {
    font-size: 15px;
}   
    
}