html {
    height: 100%;
    width: 100%;

}
body {
    height: auto;
    font-family: 'arial';
    font-size: 16px;
    color: blue;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: white;

}
@font-face {
    font-family: arial;
    src: url(fonts/arial.ttf);
}




#leftbar{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-size: 0.9vw;
    height: 60%;
    display: flex;
    flex-direction: column;
}

#home {
    color: blue;
    text-decoration: underline;
}
#home:active {
    color: blue;
}

#home:hover {
    filter: blur(8px);
}



#titulo {
    font-size: 1.2vw;
    font-family: new-spirit, serif;
font-weight: 300;
}
#subtitulo {
    font-family: new-spirit, serif;
font-weight: 300;
    
}

#img1 {
    width: 60%;
    margin-top: auto;
    display: block;
}
#descricao {
    font-family: 'arial';
    font-size: 0.9vw;
    width: 80%;
    color: black;
    
}

#collab{

    color: blue;
}


#contact {


}
#contact:active {
    color: blue;
}
#descricao2 {
    display: none;
}
#contact2 {
    display: none;
}


a {
    text-decoration: none;
    color: blue;
}
a:hover {
    filter: blur(8px);
    color: blue;
}
a:active {
    text-decoration: none;
      color: blue;
}


#main {
    display: flex;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
#descricao2 {
    display: none;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    filter: blur(8px);
    color: blue;
}
a:active {
    text-decoration: none;
      color: blue;
}


#video1 {
    display: flex;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    height: 35vw;
    flex-direction: column;
}
@media screen and (max-width: 900px) {
   
body {
    font-size: 14px;
    display: flex;
    flex-direction: column;


}
    #leftbar{
    width: 90%;

    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 3%;
    margin-right: 7%;
        height: 20%;
        position: absolute;


}
    
    #leftbar2 {
    width: 90%;

    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
#home {
    display: none;
}

#titulo {

    font-size: 16px;

}
#subtitulo {
font-size: 14px;

    
}
    #collab {
        font-size: 14px;
    }
  
#img1 {
    display: none;
}
#descricao2 {
    display: block;
    font-family: 'arial';
    width: 100%;
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
    
}
    #descricao {
        display:none;
    }
    #contact {
        display: none;
    }
    #contact2 {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 4vw;
        
    }

 #main {
     height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
     margin-top: 30%;
}


    #hero {
        height: 60vw;
    }

#nav_button{
    height: 10vw;

    
}
        #contentor2 {
        display: none;
    }
    
    #botaofull {
        display: none;
    }
    #videos {
        flex-direction: column;
        margin-top: 5%;
    }
 
    #video1 {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 60vw;
        
    }
    #legenda {
        font-size: 3vw;
    }
    #colunadir {
        display: none;}
    #colunaesq {
        width: 90%;
        margin-left: auto;
        
margin-right: auto;
    }

}