html {
    height: 100%;
    width: 100%;

}
body {
    height: auto;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 18px;
    height: 100%;
    color: red;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

#topbar {
    height: 98%;
    width: 55px;
    color: red;   

    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-right: 0;
} 
#tituloexpo {
    font-size: 30px;
text-transform: uppercase;}

a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}
#link1 {
    width: 50%;
    height: 20%;
    margin-bottom: 30%;
    text-align: left;
    padding-top: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: 20%;
    margin-top: 30%;
    color: red;
}

#main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 5%;
}



#video1 {
    display: flex;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}
#colunaesq {
    width: 80%;
    z-index: 0;
    display: flex;
    flex-direction: row;  
    margin-top: 0;
    height: 50vw;
}

#colunadir {
    margin-right: 7%;
    font-size: 20px;

    padding-top: 0;
    width: 20%;
    height: auto;
    z-index: 0;
    margin-left: 0;
    color: black;
    margin-top: 5%;
}
sup{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.5;
}
#creditos {
    font-size: 15px;
}


@media screen and (max-width: 900px) {
   

#topbar {
    height: 55px;
    width: 100%;
    color: red;
    font-size: 7vw;
    background-color: whitesmoke;
    margin: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    writing-mode: horizontal-tb;
} 
   


#link1 {
    width: 50%;
    height: auto;
    margin-bottom: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: auto;
    margin-top: 0;
    color: red;
        padding-top: 5px;
    padding-right: 5px;
}


#main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 0;
}






a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    filter: none;
}


#colunaesq {
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;  
    margin-top: 20%;
}

#video1 {
    display: flex;
    width: 90%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}


#colunadir {
    margin-right: auto;
    margin-left: auto;
    font-size: 4vw;
    padding-top: 0;
    width: 80%;
    height: auto;
    z-index: 0;
    color: black;
    margin-top: 0;
    margin-bottom: 10%;
}
sup{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.5;
}
#creditos {
    font-size: 12px;
}   
    
}