html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;


}
body {
    height: auto;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 18px;
    height: 100%;
    color: black;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
#topbar {
    height: 98%;
    width: 55px;
    color: red;   

    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    text-transform: uppercase;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-right: 0;
} 
#tituloexpo {
    font-size: 30px;
text-transform: uppercase;}

a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    filter: blur(8px);
}
#link1 {
    width: 50%;
    height: 20%;
    margin-bottom: 30%;
    text-align: left;
    padding-top: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: 20%;
    margin-top: 30%;
    color: red;
}


#primeiro {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
    }
    
 #primeiroesq {
        background-image: url("img/Towardshero.jpg");
        background-position: center;
        background-size: cover;
        height: 45vw;
        width: 100%;
}

#main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-top: 7%;
    margin-bottom: 5%;
}

#video1 {
    display: flex;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    height: 40vw;
    flex-direction: column;
}
#codex {
    display: flex;
    flex-direction: column;
}
#legenda2 {
        text-transform: uppercase;
    font-size: 15px;
    margin-left: 5%;
    
}
#legenda{
    text-transform: uppercase;
    font-size: 15px;
}
#linksite {
    color: red;
    text-decoration: underline;
}
#contentor {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    pointer-events: all;
    overflow-y: hidden;
    background-color: black;
    

}
#contentor3 {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    pointer-events: all;
    overflow-y: hidden;
    background-color: black;
    

}

#contentor2 {
    visibility: hidden;
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    
}

#spread2 {

     position: relative;
    width: auto;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;

}

#spread {
    position: relative;
    width: auto;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;
}

#nav_button {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button:hover {
    filter: blur(4px);

}

#nav_button2 {
    height: 100px;
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button2:hover {
    filter: blur(4px);

}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}


#colunaesq {
    width: 72%;
    z-index: 0;
    display: flex;
    flex-direction: column;    
    height: 100%;
}

#botaofull {
    width: auto;
    z-index: 1;
    margin-left: -4%;
    margin-right: 4%;
    height: 7%;
    cursor: pointer;
}
#botaofull:hover {
    filter: blur(4px);}
#botaofull2 {
    width: auto;
    z-index: 1;
    margin-left: -4%;
    margin-right: 4%;
    margin-top: 5%;
    height: 5%;
    cursor: pointer;
}
#botaofull2:hover {
    filter: blur(4px);}

#colunadir {
    margin-right: 7%;
    font-size: 20px;
    padding-top: 0;
    width: 20%;
    height: auto;
    z-index: 0;
    margin-left: 0;
    color: black;
}
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {

  width: 60%;
  display: flex;
    margin-left: auto;
    margin-right: auto;
margin-top: 0;
pointer-events: all;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  pointer-events: all;
}

.active, .dot:hover {
  background-color: grey;
}



sup{
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.5;
}
#creditos {
    font-size: 15px;
}

#imgpr1{
    margin-left: 5%;
    margin-top: 15%;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  -webkit-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
box-shadow: 0px 0px 28px 17px rgba(255,0,0,0.89);
}

#botao {
    color: red;
    font-size: 4vw;
    right: 0;
    width: 5%;
    margin-left: 95%;
    
}
#baixo {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    font-weight: 100;
    margin-top: -5%;
    
}

@media screen and (max-width: 900px) {
        
    

#topbar {
    height: 55px;
    width: 100%;
    color: red;
    font-size: 7vw;
    background-color: whitesmoke;
    margin: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    writing-mode: horizontal-tb;
} 
   
 


#link1 {
    width: 50%;
    height: auto;
    margin-bottom: 0;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    color: red;
}

#link2 {
    text-align: right;
    width: 50%;
    height: auto;
    margin-top: 0;
    color: red;
        padding-top: 5px;
    padding-right: 5px;
}

#main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 0;
}

    #primeiro {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    #primeiroesq {
        background-image: url(img/Towardshero1.jpg);
        background-position: bottom;
        background-size: cover;
        height: 400px;
        width: 100%;
    }
    #primeirodir {
       display: none;
    }



a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    filter: none;
}

#contentor {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    pointer-events: all;
    overflow-y: hidden;
    margin-bottom: 0;

}
    
#contentor3 {
    display: flex;
    flex-direction:column;
    width: 80%;
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    pointer-events: all;
    overflow-y: hidden;
    margin-bottom: 0;

}


#contentor2 {
    display: none;
    

}

#spread2 {
display: none;
}
#spread {
    position: relative;
    width: auto;
    height: 45vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-shadow: 0px 0px 20px 1px #000000; 
    box-shadow: 0px 0px 20px 1px #000000;
}

#nav_button {
    height: 50px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;

}

#nav_button:hover {
    filter: none;

}

#tituloexpo {
    font-size: 22px;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  pointer-events: all;
}

#colunaesq {
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;    
}
#video1 {
    display: flex;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    height: 50vw;
    flex-direction: column;
}

#legenda2 {
        text-transform: uppercase;
    font-size: 15px;
    margin-left: 5%;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    
}
#legenda{
    text-transform: uppercase;
    font-size: 15px;
        text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
    
    .slideshow-container {
        width: 80%;
  display: flex;
        height: auto;
        margin-bottom: 0;
        margin-top: 0;
}

    
#botaofull {
    display: none;
}
#botaofull:hover {
    filter: blur(4px);}



#colunadir {
    margin-right: auto;
    margin-left: auto;
    font-size: 4vw;
    padding-top: 0;
    width: 80%;
    height: auto;
    z-index: 0;
    color: black;
    margin-top: 10%;
    margin-bottom: 10%;
}
sup{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.5;
}
#creditos {
    font-size: 12px;
}   
  #imgpr1{
    margin-top: 15%;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  -webkit-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
-moz-box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
box-shadow: 0px 0px 20px 12px rgba(255,0,0,0.89);
}
  
#botao {
   display: none;
    
}
#baixo {
    display: none;
    
}

}