html {
    height: 100%;
    width: 100%;

}body {
    height: auto;
    font-family: 'arial';
    font-size: 16px;
    color: blue;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: white;

}
@font-face {
    font-family: arial;
    src: url(fonts/arial.ttf);
}



#leftbar{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-size: 0.9vw;
    height: 60%;
    display: flex;
    flex-direction: column;
}

#home {
    color: blue;
    text-decoration: underline;
}
#home:active {
    color: blue;
}

#home:hover {
    filter: blur(8px);
}



#titulo {
    font-size: 1.2vw;
    font-family: new-spirit, serif;
font-weight: 300;
}
#subtitulo {

    font-family: new-spirit, serif;
font-weight: 300;
    
}

#img1 {
    width: 60%;
    margin-top: auto;
    display: block;
}
#descricao {
    font-family: 'arial';
    font-size: 0.9vw;
    width: 80%;
    color: black;
    
}
#descricao2 {
    display: none;
    color: black;
}

#collab{

    color: blue;
}


#contact {


}
#contact:active {
    color: blue;
}
#descricao2 {
    display: none;
}
#contact2 {
    display: none;
}
#main {
    display: flex;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

#hero {
    width: 100%;
    height: 50vw;
    background-image: url(img/Towardshero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#hero1 {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
}

#videos {
    margin-top: 2%;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
#legenda {
        font-family: 'arial';
    font-size: 0.95vw;
}

#colunaesq {
    width: 70%;
    
}
#colunadir {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'arial';
    font-size: 0.95vw;
    color: black;
}
#video1 {
    display: flex;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    height: 35vw;
    flex-direction: column;
}

#imp {
    font-size: 0.95vw;
    color: blue;
    font-family: 'arial';
    
}
#contentor {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    pointer-events: all;
    overflow-y: hidden;   
    background-color: black;

}

#codex {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    pointer-events: all;
    overflow-y: hidden;
    background-color: black;
    

}
#pr {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    pointer-events: all;
    overflow-y: hidden;    

}

#spread {
    position: relative;
    width: auto;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


#nav_button {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button:hover {
    filter: blur(4px);

}


.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}


#spread2 {
    position: relative;
    width: auto;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  
}


#nav_button2 {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button2:hover {
    filter: blur(4px);
}


.left2 {
    margin-right: auto;
}

.right2 {
    margin-left: auto;
}

#spread3 {
    position: relative;
    width: auto;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


#nav_button3 {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    pointer-events: all;
}

#nav_button3:hover {
    filter: blur(4px);

}


.left3 {
    margin-right: auto;
}

.right3 {
    margin-left: auto;
}


#descricao2 {
    display:none;
}
#contact2 {
    display: none;
}


@media screen and (max-width: 900px) {
       
body {
    font-size: 14px;
    display: flex;
    flex-direction: column;


}
    #leftbar{
    width: 90%;

    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 3%;
    margin-right: 7%;
        height: 20%;
        position: absolute;


}
    
    #leftbar2 {
    width: 90%;

    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
#home {
    display: none;
}

#titulo {

    font-size: 16px;

}
#subtitulo {
font-size: 14px;

    
}
    #collab {
        font-size: 14px;
    }
  
#img1 {
    display: none;
}
#descricao2 {
    display: block;
    font-family: 'arial';
    width: 100%;
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20%;
    
}
    #descricao {
        display:none;
    }
    #contact {
        display: none;
    }
    #contact2 {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 4vw;
        
    }


 #main {
     height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
     margin-top: 45%;
}


    #hero {
        height: 60vw;
    }

#nav_button{
    height: 10vw;

    
}
        #contentor2 {
        display: none;
    }
    
    #botaofull {
        display: none;
    }
    #videos {
        flex-direction: column;
        margin-top: 2%;
    }
 
    #video1 {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 60vw;
        
    }
    #imp {
        font-size: 3vw;
    }
    #legenda {
        font-size: 3vw;
    }
    #colunadir {
        display: none;}
    #colunaesq {
        width: 90%;
        margin-left: auto;
        
margin-right: auto;
    }

}
